* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fff;
    margin: 0;
}

.image-row {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin: 20px 0;
}


.image-row img {
    width: 30%;
    border-radius: 10px;
    border: 2px solid #444;
}

/* Шапка */
header {
    background-color: #444;
    color: white;
    padding: 10px;
    text-align: center;
}

/* Навигация */
nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    color: #fff;
}

/* Основной контент */
main {
    flex: 1; /* Заставляет main занимать доступное пространство */
    padding: 20px;
    text-align: center;
}

/* Таблицы */
table {
    margin: 20px auto;
    border-collapse: collapse;
    width: 80%;
}

table, th, td {
    border: 1px solid #444;
}

th {
    background-color: #444;
    color: white;
    text-align: center;
}

td {
    text-align: left;
    padding: 8px;
}

footer {
    background-color: #444;
    color: #fff;
    text-align: center;
    padding: 60px;
}
